@model IndexModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout2";
}
@section Styles
{
    <link href="~/scss/home.css" rel="stylesheet" />
   
}

<div class="text-center">
    <h1 class="display-4">@Model.Message</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <button  class="myBtn">Button 1</button>
    <button class="myBtn2">Button 2</button> 
    <button class="myClass">Button 2</button>

</div>
<div class="myDiv">
    <button>Another Button</button>
</div>
<div class="myNewDiv">Bangladesh</div>

@section Scripts
{
    <script>

     
        console.log($("h8").html());

    </script>
}
